.acf-field-repeater[data-name="restaurant_logos"] {
  .acf-image-uploader .image-wrap img {
    max-width: unset !important;
    max-height: unset !important;
    width: auto;
    height: 50px;
  }
}
.acf-field-repeater[data-name="slideshow_images"] {
  .acf-image-uploader .image-wrap img {
    max-width: unset !important;
    max-height: 300px !important;
    width: auto;
    height: auto;
  }
}
.acf-field-group[data-name="icon_block"] {
  .acf-image-uploader .image-wrap img {
    max-width: unset !important;
    max-height: unset !important;
    width: auto;
    height: 90px;
  }
}
.acf-flexible-content {
	[data-layout*="two_column_image_text"] {
		.acf-fields:has([data-name="image_block"]):has([data-name="content"]) {
			display: flex;
			flex-wrap: wrap;
			.acf-field-group[data-name="image_block"] {
				width: 40%;
			}
			.acf-field-group[data-name="text_block"] {
				width: 60%;
			}
		}
	}
}
[data-layout="grid_images"]:has(.acf-field-repeater) {
	[data-name="overlay_logo"] .image-wrap img {
		max-height: unset!important;
		height: 50px!important;
		width: auto!important;
	}
	[data-name="bg_image"] .image-wrap img {
		max-height: unset!important;
		height: 80px!important;
		width: auto!important;
	}
}
.acf-field-group[data-name="topbottom_spacing"] {
	width: 100%;
	.acf-fields {
		display: flex;
		.acf-field-true-false {
			position: relative;
			.acf-label {
				margin: 0 0!important;
				padding-left: 25px;
			}
			.acf-input {
				display: inline-block;
				position: absolute;
				top: 15px;
    		left: 18px;
				z-index: 2;
			}
		}
		[data-name="remove_bottom_spacing"] {
			border-top: none!important;
		}
	}
}
